@import '../../variables.scss';

.sign-in {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: $color-background;

  @media #{$for-tablet-portrait-up} {
    padding: 40px;
  }
}

.buttons button:first-child {
  margin-right: 20px;
}