@import '../../variables.scss';

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $color-background-light;
  text-align: right;

  &.header--transparent {
    background-color: transparent;
  }

  &>* {
    padding: 0 20px;
  }

  &>a {
    color: $color-text;
  }
}

