@import '../variables.scss';

.background {
  margin-bottom: 100px;

  h1 {
    margin: 100px auto 30px;
    color: $color-primary;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Montserrat';
    @media #{$for-tablet-portrait-up} {
      font-size: 80px;
    }
    @media #{$for-desktop-up} {
      font-size: 90px;
    }
  }

  a {
    text-decoration: none;
    color: $color-primary;
    margin: 0 20px;
  }
}
