@import '../../variables.scss';

.sign-up {
  padding: $spacing-small-mobile;
  text-align: center;
  background-color: $color-background-light;

  @media #{$for-tablet-portrait-up} {
    padding: $spacing-small;
  }

  @media #{$for-tablet-landscape-up} {
    padding: $spacing;
  }
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

p {
  max-width: 500px;
  margin: auto;
}

.sign-in-container {
  width: 100%;
  max-width: 350px;
  margin: 40px auto 60px auto;
}