@import '../../variables.scss';

.sign-up {
  position: relative;
  padding: $spacing-small-mobile;
  text-align: center;
  background-color: $color-background-light;
  overflow: hidden;

  > * {
    position: relative;
  }

  @media #{$for-tablet-portrait-up} {
    padding: $spacing-small;
  }

  @media #{$for-tablet-landscape-up} {
    padding: $spacing;
  }
}

h3 {
  text-transform: uppercase;
  margin: 0;
}

p {
  max-width: 500px;
  margin: auto;
}

.sign-in-container {
  width: 100%;
  max-width: 350px;
  margin: 40px auto 60px auto;
}

.sign-up-img {
  position: absolute;
  bottom: -10%;
  right: -30%;
  width: 100%;
  max-width: 1200px;
  transform: rotate(-35deg);

  @media #{$for-desktop-up} {
    right: -20%;
  }
}
