@import './variables.scss';

html, body {
  width: 100%;
  height: 100%;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  box-sizing: border-box;
}

body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 50px;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

a {
  color: $color-links-and-buttons;
  text-decoration: none;
}

button {
  background-color: $color-links-and-buttons;
  font-family: $font;
  color: #FFF;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}