$for-phone-only: "(max-width : 599px)";
$for-tablet-portrait-up: "(min-width: 600px)";
$for-tablet-landscape-up: "(min-width: 900px)";
$for-desktop-up: "(min-width: 1200px)";

$color-links-and-buttons: #A8DDBC;
$color-background: #F8F8F8;
$color-background-light: #FFF;
$color-background-accent: #B1D9E6;
$color-text: #5B5B5B;

$font: "Montserrat", sans-serif;

$content-max-width: 1200px;

$spacing: 120px;
$spacing-small: 60px;